<div class=" row footer">
  <nav class="dy-footer navbar-bottom">
    <div class="container text-center">
      <div class="navbar-text col-md-12 col-sm-12 and col-xs-12">
        <span>&copy; Deposyt 2016 | </span>
        <a href="#"> Terms and Conditions </a>
      </div>
    </div>
  </nav>
</div>
